### Altera Quartus II 15.0 ###

#---------------
# db files
#--------------
*.ammdb
*.bpm
*.cdb
*.dat
*.ddb
*.flock
*.hdb
*.hier_info
*.hif
*.hsd
*.idb
*.logdb
*.rdb
*.tdb
*.wrk
*.cmp
*.kpt
*.tdf
*.db_info
*.sci
*.qmsg
*.tmw_info
*.nvd

#--------------
#output files
#--------------
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
#--------------
# other files
#--------------
#*.tcl
ddr2_phy_autodetectedpins.tcl
alt_sld_fab_wrapper_hw.tcl
*.csv
*.rpt
!*.fit.rpt
*.txt
!Changelog.txt
*.qws
*.qarlog
*.qar
*.json
*.bak
*.html
*.xml
*.wlf

#--------------
# generated folders
#--------------
simulation/
db/
incremental_db/
wspace_nios2/
wspace_nios
workspace
source_library/

### Lattice Diamond ###
*.bgn
*.edi
*.ibs
*.ior
*.jed
*_map.ncd
*_mapvho.sdf
*_mapvho.vho
*_mapvo.sdf
*_mapvo.vo
*.mrp
*.ncd
*.ngd
*.ngo
*.pad
*.par
*.prf
*.sso
*.tw1
*.twr
*.vho
*.vo
*_vho.sdf
*_vo.sdf

*.recovery

LimeSDR-Mini_lms7_trx/mico32_workspace/
LimeSDR-Mini_lms7_trx/mico32_patform/platform1/syntmp
LimeSDR-Mini_lms7_trx/proj/impl1
LimeSDR-Mini_lms7_trx/proj/sim


