rvl_alias "lms_rx_clk" "inst6_rxtx_top/rx_path_top_inst5/diq2fifo_inst0/inst3_smpl_cmp/clk";
rvl_alias "lms_rx_clk" "lms_inst/inst1_delay_ctrl/inst0_delay_ctrl_fsm/clk";
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE MCCLK_FREQ=62 CONFIG_MODE=SPI_SERIAL BACKGROUND_RECONFIG=OFF ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 2.5 V;
BANK 3 VCCIO 2.5 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;
LOCATE COMP "LMK_CLK" SITE "A9" ;
LOCATE COMP "FPGA_LED1_R" SITE "V17" ;
LOCATE COMP "FPGA_LED1_G" SITE "R16" ;
LOCATE COMP "FPGA_SPI_SCLK" SITE "M3" ;
LOCATE COMP "FPGA_SPI_MOSI" SITE "L3" ;
LOCATE COMP "FPGA_SPI_MISO" SITE "K3" ;
LOCATE COMP "FPGA_SPI_LMS_SS" SITE "N3" ;
LOCATE COMP "FPGA_SPI_DAC_SS" SITE "L4" ;
LOCATE COMP "FPGA_CFG_SPI_MISO" SITE "T18" ;
LOCATE COMP "FPGA_CFG_SPI_MOSI" SITE "U18" ;
LOCATE COMP "FPGA_CFG_SPI_SS_N" SITE "U17" ;
LOCATE COMP "HW_VER[0]" SITE "D4" ;
LOCATE COMP "HW_VER[1]" SITE "M2" ;
LOCATE COMP "HW_VER[2]" SITE "N4" ;
LOCATE COMP "HW_VER[3]" SITE "J3" ;
LOCATE COMP "BOM_VER[0]" SITE "N1" ;
LOCATE COMP "BOM_VER[1]" SITE "M1" ;
LOCATE COMP "BOM_VER[2]" SITE "N2" ;
LOCATE COMP "FT_CLK" SITE "D17" ;
LOCATE COMP "FT_BE[0]" SITE "L15" ;
LOCATE COMP "FT_BE[1]" SITE "J17" ;
LOCATE COMP "FT_BE[2]" SITE "K16" ;
LOCATE COMP "FT_BE[3]" SITE "H17" ;
LOCATE COMP "FT_D[0]" SITE "A13" ;
LOCATE COMP "FT_D[1]" SITE "B12" ;
LOCATE COMP "FT_D[2]" SITE "B15" ;
LOCATE COMP "FT_D[3]" SITE "C12" ;
LOCATE COMP "FT_D[4]" SITE "A16" ;
LOCATE COMP "FT_D[5]" SITE "A12" ;
LOCATE COMP "FT_D[6]" SITE "D18" ;
LOCATE COMP "FT_D[7]" SITE "B17" ;
LOCATE COMP "FT_D[8]" SITE "F15" ;
LOCATE COMP "FT_D[9]" SITE "D16" ;
LOCATE COMP "FT_D[10]" SITE "D15" ;
LOCATE COMP "FT_D[11]" SITE "C13" ;
LOCATE COMP "FT_D[12]" SITE "H18" ;
LOCATE COMP "FT_D[13]" SITE "B13" ;
LOCATE COMP "FT_D[14]" SITE "J18" ;
LOCATE COMP "FT_D[15]" SITE "A15" ;
LOCATE COMP "FT_D[16]" SITE "B18" ;
LOCATE COMP "FT_D[17]" SITE "C18" ;
LOCATE COMP "FT_D[18]" SITE "A17" ;
LOCATE COMP "FT_D[19]" SITE "K18" ;
LOCATE COMP "FT_D[20]" SITE "C15" ;
LOCATE COMP "FT_D[21]" SITE "L18" ;
LOCATE COMP "FT_D[22]" SITE "F18" ;
LOCATE COMP "FT_D[23]" SITE "C16" ;
LOCATE COMP "FT_D[24]" SITE "G16" ;
LOCATE COMP "FT_D[25]" SITE "D13" ;
LOCATE COMP "FT_D[26]" SITE "G18" ;
LOCATE COMP "FT_D[27]" SITE "F16" ;
LOCATE COMP "FT_D[28]" SITE "C17" ;
LOCATE COMP "FT_D[29]" SITE "F17" ;
LOCATE COMP "FT_D[30]" SITE "K15" ;
LOCATE COMP "FT_D[31]" SITE "K17" ;
LOCATE COMP "FT_RXFn" SITE "H16" ;
LOCATE COMP "FT_TXEn" SITE "M16" ;
LOCATE COMP "FT_WRn" SITE "J16" ;
LOCATE COMP "FT_RESETn" SITE "M17" ;
IOBUF PORT "FT_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_BE[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_BE[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_BE[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_BE[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[16]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[17]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[18]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[19]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[20]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[21]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[22]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[23]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[24]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[25]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[26]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[27]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[28]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[29]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[30]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_D[31]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_RXFn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_TXEn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_WRn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FT_RESETn" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LMS_MCLK1" SITE "H4" ;
LOCATE COMP "LMS_FCLK1" SITE "H3" ;
LOCATE COMP "LMS_TXNRX1" SITE "F1" ;
LOCATE COMP "LMS_MCLK2" SITE "D2" ;
LOCATE COMP "LMS_FCLK2" SITE "D1" ;
LOCATE COMP "LMS_TXNRX2" SITE "B6" ;
LOCATE COMP "LMS_RESET" SITE "A7" ;
LOCATE COMP "LMS_TXEN" SITE "B7" ;
LOCATE COMP "LMS_RXEN" SITE "D6" ;
LOCATE COMP "LMS_CORE_LDO_EN" SITE "C6" ;
LOCATE COMP "LMS_ENABLE_IQSEL1" SITE "F3" ;
LOCATE COMP "LMS_DIQ1_D[0]" SITE "J2" ;
LOCATE COMP "LMS_DIQ1_D[1]" SITE "L1" ;
LOCATE COMP "LMS_DIQ1_D[2]" SITE "K1" ;
LOCATE COMP "LMS_DIQ1_D[3]" SITE "K4" ;
LOCATE COMP "LMS_DIQ1_D[4]" SITE "G3" ;
LOCATE COMP "LMS_DIQ1_D[5]" SITE "F4" ;
LOCATE COMP "LMS_DIQ1_D[6]" SITE "J1" ;
LOCATE COMP "LMS_DIQ1_D[7]" SITE "H1" ;
LOCATE COMP "LMS_DIQ1_D[8]" SITE "G4" ;
LOCATE COMP "LMS_DIQ1_D[9]" SITE "F2" ;
LOCATE COMP "LMS_DIQ1_D[10]" SITE "G1" ;
LOCATE COMP "LMS_DIQ1_D[11]" SITE "H2" ;
IOBUF PORT "LMS_ENABLE_IQSEL1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[2]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[3]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[4]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[5]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[6]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[7]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[8]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[9]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[10]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ1_D[11]" IO_TYPE=LVCMOS25 ;
LOCATE COMP "LMS_ENABLE_IQSEL2" SITE "C4" ;
LOCATE COMP "LMS_DIQ2_D[0]" SITE "A3" ;
LOCATE COMP "LMS_DIQ2_D[1]" SITE "C2" ;
LOCATE COMP "LMS_DIQ2_D[2]" SITE "A2" ;
LOCATE COMP "LMS_DIQ2_D[3]" SITE "B4" ;
LOCATE COMP "LMS_DIQ2_D[4]" SITE "C3" ;
LOCATE COMP "LMS_DIQ2_D[5]" SITE "B2" ;
LOCATE COMP "LMS_DIQ2_D[6]" SITE "D3" ;
LOCATE COMP "LMS_DIQ2_D[7]" SITE "B1" ;
LOCATE COMP "LMS_DIQ2_D[8]" SITE "A4" ;
LOCATE COMP "LMS_DIQ2_D[9]" SITE "C1" ;
LOCATE COMP "LMS_DIQ2_D[10]" SITE "C7" ;
LOCATE COMP "LMS_DIQ2_D[11]" SITE "A6" ;
IOBUF PORT "LMS_ENABLE_IQSEL2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[2]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[3]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[4]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[5]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[6]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[7]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[8]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[9]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[10]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_DIQ2_D[11]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_MCLK1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_FCLK1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_TXNRX1" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_MCLK2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_FCLK2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_TXNRX2" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_RESET" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_TXEN" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_RXEN" IO_TYPE=LVCMOS25 ;
IOBUF PORT "LMS_CORE_LDO_EN" IO_TYPE=LVCMOS25 ;
LOCATE COMP "FPGA_I2C_SCL" SITE "C10" ;
LOCATE COMP "FPGA_I2C_SDA" SITE "B9" ;
IOBUF PORT "FPGA_I2C_SCL" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
IOBUF PORT "FPGA_I2C_SDA" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
LOCATE COMP "FPGA_GPIO[0]" SITE "N15" ;
LOCATE COMP "FPGA_GPIO[1]" SITE "N18" ;
LOCATE COMP "FPGA_GPIO[2]" SITE "N16" ;
LOCATE COMP "FPGA_GPIO[3]" SITE "N17" ;
LOCATE COMP "FPGA_GPIO[4]" SITE "M18" ;
LOCATE COMP "FPGA_GPIO[5]" SITE "R18" ;
LOCATE COMP "FPGA_GPIO[6]" SITE "T17" ;
LOCATE COMP "FPGA_GPIO[7]" SITE "R17" ;
IOBUF PORT "FPGA_GPIO[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_GPIO[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_GPIO[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_GPIO[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_GPIO[4]" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
IOBUF PORT "FPGA_GPIO[5]" IO_TYPE=LVCMOS33 OPENDRAIN=ON;
IOBUF PORT "FPGA_GPIO[6]" IO_TYPE=LVCMOS33 OPENDRAIN=ON;
IOBUF PORT "FPGA_GPIO[7]" IO_TYPE=LVCMOS33 OPENDRAIN=ON;
LOCATE COMP "FPGA_EGPIO[0]" SITE "A10" ;
LOCATE COMP "FPGA_EGPIO[1]" SITE "A8" ;
IOBUF PORT "FPGA_EGPIO[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_EGPIO[1]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LM75_OS" SITE "K2" ;
LOCATE COMP "FAN_CTRL" SITE "A11" ;
LOCATE COMP "RFSW_RX_V1" SITE "C11" ;
LOCATE COMP "RFSW_RX_V2" SITE "B11" ;
LOCATE COMP "RFSW_TX_V1" SITE "B10" ;
LOCATE COMP "RFSW_TX_V2" SITE "C9" ;
LOCATE COMP "TX_LB_AT" SITE "C8" ;
LOCATE COMP "TX_LB_SH" SITE "B8" ;
IOBUF PORT "LM75_OS" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FAN_CTRL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RFSW_RX_V1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RFSW_RX_V2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RFSW_TX_V1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RFSW_TX_V2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TX_LB_AT" IO_TYPE=LVCMOS33 ;
IOBUF PORT "TX_LB_SH" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LMK_CLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_LED1_R" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
IOBUF PORT "FPGA_LED1_G" IO_TYPE=LVCMOS33 OPENDRAIN=ON ;
IOBUF PORT "FPGA_SPI_SCLK" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FPGA_SPI_MOSI" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FPGA_SPI_MISO" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FPGA_SPI_LMS_SS" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FPGA_SPI_DAC_SS" IO_TYPE=LVCMOS25 ;
IOBUF PORT "FPGA_CFG_SPI_MISO" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_CFG_SPI_MOSI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "FPGA_CFG_SPI_SS_N" IO_TYPE=LVCMOS33 ;
IOBUF PORT "HW_VER[0]" IO_TYPE=LVCMOS25 PULLMODE=UP;
IOBUF PORT "HW_VER[1]" IO_TYPE=LVCMOS25 PULLMODE=UP;
IOBUF PORT "HW_VER[2]" IO_TYPE=LVCMOS25 PULLMODE=UP;
IOBUF PORT "HW_VER[3]" IO_TYPE=LVCMOS25 PULLMODE=UP;
IOBUF PORT "BOM_VER[0]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "BOM_VER[1]" IO_TYPE=LVCMOS25 ;
IOBUF PORT "BOM_VER[2]" IO_TYPE=LVCMOS25 ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;
GSR_NET NET "un1_por_rst_n";
